<!-- Navigation -->

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="#">
          Hacker News
        </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><a href="#">Submit Post</a></li>
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">Profile</a>
        <ul class="dropdown">
          <li><a href="#">Your Posts</a></li>
          <li><a href="#">Your Comments</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li><a href="#">Log In</a></li>
    </ul>
  </section>
</nav>

<!-- End Top Bar -->





<!-- Footer -->

<footer class="row">
  <div class="large-12 columns"><hr />
      <div class="row">

        <div class="large-6 columns">
            <p>© Hacker News</p>
        </div>

        <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

      </div>
  </div>
</footer>

<!-- End Footer -->
